*.class
.classpath
*.jar
*.war
*.ear
hs_err_pid*
logs/
target/classes/
/target/
/.settings
*/target/
*/abator/
*/.settings
/abator
/.project
*/.project
*/.externalToolBuilders
.settings
.project
src/main/resources/generatorConfig.xml
.idea
*.iml
