<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 配置应用信息 -->
	<dubbo:application name="${dubbo.application.name.consume}" logger="slf4j" />

	<!-- 注册ZOOKEEPER地址,用于发现服务 -->
	<dubbo:registry protocol="zookeeper" address="${dubbo.zookeeper}" />
	
	<!-- 配置DUBBO调用的超时时间 -->
	<dubbo:consumer timeout="${dubbo.timeout}" retries="0" lazy="true"/>
	
	<!-- 在这里配置你需要的其他模块的接口服务 -->
	<!-- <dubbo:reference id="demoAdminEndpointImpl" interface="tech.lihx.demo.core.endpoint.admin.IDemoAdminEndpoint" url="${service.url.admin}"/> -->
	
	
</beans>
